.header {
	background-image: url('../../images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.header__content-container {
	padding-top: 26px;
	padding-bottom: 132px;
}

.header__content {
	width: 100%;
	max-width: 542px;
}

.header__title {
	margin-top: 62px;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.header__title-chunk:nth-of-type(2) {
	-webkit-align-self: center;
	align-self: center;
}

.header__title-chunk:nth-of-type(3) {
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.header__text {
	margin-top: 24px;
	margin-bottom: 40px;
	padding: 0 15px;
	text-align: center;
}

.header__buttons {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}


@media (max-width: 767px) {

	.header__content {
		max-width: 335px;
	}

	.header__buttons {
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.header__buttons  .button + .button {
		margin-top: 14px;
	}

}