.running-line {
	background-color: #f54932;
	padding: 18px 0;
}

.running-line[data-direction="right"] {
	--animation-direction: reverse;
}

.running-line[data-direction="left"] {
	--animation-direction: forwards;
}

.running-line[data-animated="true"] {
	overflow: hidden;
}

.running-line__inner {
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.running-line[data-animated="true"] .running-line__inner {
	width: max-content;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	align-items: center;
	animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

.running-line__text {
	font-family: "Merriweather", serif;
	font-size: 22px;
	line-height: 1.1;
	text-transform: uppercase;
	color: #ffffff;
}

.running-line__delimiter {
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	margin: 0 12px;
	border-radius: 100%;
}

@keyframes scroll {
	to {
		transform: translate(calc(-50% + 5px));
	}
}