* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: "Golos Text", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: #313131;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

.content-container {
	width: 100%;
	max-width: 1260px;
	padding: 100px 20px;
	margin: 0 auto;
}

.title {
	font-family: "Merriweather", serif;
	font-weight: 400;
	text-transform: uppercase;
}

.main-title {
	font-size: 60px;
	line-height: 1.1;
}

.section-title {
	font-family: "Merriweather", serif;
	font-size: 54px;
	line-height: 1.2;
	margin-bottom: 60px;
}

.section-title__compound {
	width: 100%;
	max-width: 806px;
}

.section-title__note {
	display: inline-block;
	width: 100%;
	max-width: 280px;
}

.section-subtitle {
	font-family: "Merriweather", serif;
	font-size: 36px;
	line-height: 1.35;
	text-transform: uppercase;
}

.highlight {
	color: #f54932;
	font-weight: 700;
}

.note {
	font-family: "Golos Text", Arial, sans-serif;
	color: #3057a2;
	font-size: 20px;
	line-height: 1.2;
	text-transform: none;
}

.section-subtitle.show-mobile {
	display: none;
}


@media (max-width: 1279px) {

	.content-container {
		max-width: 960px;
	}

}

@media (max-width: 979px) {

	.content-container {
		max-width: 808px;
	}

}

@media (max-width: 767px) {

	.content-container {
		padding: 60px 20px;
	}

	.main-title {
		font-size: 36px;
	}

	.section-title {
		font-size: 36px;
		line-height: 1.1;
		margin-bottom: 40px;
	}

	.section-title__note {
		display: block;
		max-width: unset;
		margin-top: 12px;
	}

	.section-subtitle {
		font-size: 28px;
	}

	.section-subtitle.show-mobile {
		display: block;
	}

	.section-subtitle .hide-mobile {
		display: none;
	}

	.note {
		font-size: 18px;
	}

}